/* Style Footer */
footer{
    background-color: var(--DarkGray);
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}
.social-accounts{
    list-style: none;
    display: flex;
    gap: 15px;
}
.social-accounts li a{
    height: 30px;
    width: 30px;
    display: inline-block;
}
.social-accounts li a img{
    max-width: 100%;
    height: auto;
}

/* MOBILE SCREEN */
@media (width < 768px) {
    footer{
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
}