/* Style Footer */
footer{
    background-color: var(--Gray);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
}
footer :not(:last-child){
    margin-bottom: 30px;
}
footer :not(:last-child) a{
    margin: 0 15px;
}
footer div a{
    color: var(--White);
    text-transform: capitalize;
}