@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --Red : #E00000;
    --White: #fff;
    --Gray: #606060;
    --LightGray : #ccc;
    --NavShadow: rgb(0, 0, 0, .1) 0px 3px 5px;
    --Mrg15 : 15px;
    --LinearGradient: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgba(224,0,0) 100%);
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    transition: 0.3s ease-out;
    font-family: 'Inter', sans-serif;
    background-color: var(--White);
}
main{
    padding: 100px 50px;
}
.btn{
    margin: 0 var(--Mrg15);
    cursor: pointer;
}
.txt{
    font-size: 16px;
    padding: 5px;
}
.prim{
    background-color: var(--Red);
    color: var(--White);
}
.secnd{
    color: var(--Red);
    border: var(--Red) 3px solid;
}
.click{
    height: 30px;
    width: 30px;
}
::selection{
    background-color: var(--Red);
    color: var(--White);
}
    /* TABLET */
@media (max-width:750px){
    :root{
        --Mrg15 : 7px;
    }
}
    /* PHONE */
@media (max-width:499px){
    html{
        font-size: 12px;
    }
}