@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --Red: #E00000;
    --LightRed: hsl(0, 20%, 95%);
    --White: hsl(0, 0%, 100%);
    --Gray: #606060;
    --LightGray: #ccc;
    --DarkGray: #222;
    --NavShadow: rgb(0, 0, 0, .1) 0px 3px 5px;
    --Shadow: rgb(0, 0, 0, .1) 0px 0px 5px;
    --Mrg15: 15px;
    --LinearGradient: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgba(224, 0, 0) 100%);
    --Radius: 4px;

    /* NEWS PAGE */
    --Mobile:375px;
    --Desktop: 1440px;

    /* Primary Colors  */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* Neutral Colors*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /* Font Weights */
    --Normal:400;
    --SemiBold:700;
    --Bold:800;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    transition: 0.3s ease-out;
    font-family: 'Inter', sans-serif;
    background-color: var(--White);
    min-height: 100vh;
}

main {
    padding: 0px;
}

section {
    padding: 100px 50px;
}
.btn {
    cursor: pointer;
    display: inline-block;
}
.txt {
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
    /* margin: 0 15px; */
}
.txt2X {
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
    margin: 25px auto;
}
.prim {
    background-color: var(--Red);
    color: var(--White);
}
.secnd {
    color: var(--Red);
    border: var(--Red) 3px solid;
}
.click {
    height: 30px;
    width: 30px;
}
.btn.prim:hover, .btn.prim:active, .btn.prim:focus{
    background-color: var(--Very-dark-blue);
    outline: none;
}
.website-logo{
    color: var(--Red);
    font-size: 24px;
}
/*  Style Class Public Title Section */
.section-title {
    margin-bottom: 30px;
    color: var(--Gray);
    cursor: pointer;
    text-transform: uppercase;
}
.section-title:hover {
    color: var(--Red);
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

::selection {
    background-color: var(--Red);
    color: var(--White);
}

/* TABLET */
@media (max-width:750px) {
    :root {
        --Mrg15: 7px;
    }
}

/* PHONE */
@media (max-width:499px) {
    html {
        font-size: 12px;
    }
}

/*     SCROLL STYLE    */
.scroll-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.scroll-inline>* {
    scroll-snap-align: start;
}
.scroll-Y {
    scroll-snap-type: mandatory;
}
.scroll-Y>* {
    scroll-snap-align: start;
}
/* Scroll width */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

/* Scroll Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Scroll Handle */
::-webkit-scrollbar-thumb {
    background: var(--LightGray);
    /* border-radius: 5px; */
}