    /*  CAROUSEL SLIDER    */
.slider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.statements{
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
}
.statements .prg{
    display: inline-block;
    width: 35%;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
    transition: 1s;
}
@media (max-width:499px){
    .statements .prg{
        padding: 100px 50px;
    }
}
.prg>p{
    color: var(--White);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    /* text-align: justify; */
    /* width: 80%; */
}
.gradient-bg{
    background: linear-gradient(60deg, rgba(0,0,0,0.9) 0%, rgba(224,0,0,0.7) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}
.slides{
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}
.slider .slide{
    display: inline-block;
    width: 35%;
    height: 100%;
    transition: 1s;
    margin: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--LinearGradient);
}
.slider .first{
    background-image: url("../image/1.jpg"), url("../image/4.jpg");
}
.slider .second{
    background-image: url("../image/2.jpg"), url("../image/5.jpg");
}
.slider .third{
    background-image: url("../image/3.jpg"), url("../image/1.jpg");
}
.slide img{
    width: 100%;
    height: auto;
}
.slider input{
    display: none;
}

    /*      css for manual slide navigation     */
.navigation-manual{
    position: absolute;
    width: 100px;
    bottom: 50px;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.manual-btn{
    background: var(--LightGray);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.manual-btn:hover{
    background: var(--Gray);
}

    /*      IMAGES SLIDE     */
#radio1:checked ~ .slides .first{
    margin-left: 0%;
}
#radio2:checked~ .slides .first{
    margin-left: -36%;
}
#radio3:checked ~ .slides .first{
    margin-left: -71%;
}

    /*      PARAGRAPHES SLIDE     */
#radio1:checked ~ .statements .first{
    margin-left: 0%;
}
#radio2:checked~ .statements .first{
    /* margin-left: calc(-100% / 3); */
    margin-left: -36%;
}
#radio3:checked ~ .statements .first{
    margin-left: -71%;
}

    /*      NAVIGATION BTNS STYLE    */
#radio1:checked ~ .navigation-manual .slideBtn1{
    background: var(--Gray);
}
#radio2:checked ~ .navigation-manual .slideBtn2{
    background: var(--Gray);
}
#radio3:checked ~ .navigation-manual .slideBtn3{
    background: var(--Gray);
}
    /*  END CAROUSEL SLIDER & HEADER    */

    /*   Numbers   */
.numbers-sec{
    margin-bottom: 100px;
}
.numbers-sec .container-numbers {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
}
.container-numbers .content-numbers {
    width: 200px;
    height: 200px;
    background-color:var(--Gray) ;
    margin: 5px;
    border-radius: var(--Radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-numbers .text h2 {
    font-size: 40px;
}
.content-numbers .text  {
    text-align: center;
    /* line-height: 35px; */
    color: var(--White);
}
@media (max-width:750px){
    .container-numbers .content-numbers {
        width: 100px;
        height: 100px;
    }
    .numbers-sec{
        margin-bottom: 40px;
    }
}
     /*   SPONSORS   */
.sponsors-sec {
    margin-top: 100px;
    margin-bottom: 100px;
}
.sponsors-sec h2 {
    margin-bottom: 30px;
    color: var(--Gray);
}
.sponsors-sec img {
    height: 100px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
@media (max-width:750px){
    .sponsors-sec img {
        height: 60px;
        margin: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .sponsors-sec {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
    /*    EVENT DATE  */
.eventDate-sec {
    margin-top: 100px;
    margin-bottom: 100px;
}
.eventDate-sec h2 {
    margin-bottom: 30px;
    color: var(--Gray);
}
.eventDate-sec .container {
    text-align: center;
    line-height: 50px;
}
.eventDate-sec .container h3 {
    font-size: 50px;
    color: var(--Red);
}
.eventDate-sec .container p {
   font-size: 25px;
   color: var(--Gray);
}
.eventDate-sec .container button {
   padding: 10px;
   border: none;
   border-radius: var(--Radius);
   background-color: var(--Red);
   color: var(--White);
   cursor: pointer;
}
.eventDate-sec .container button:hover {
    color: var(--Red);
    background-color: var(--White);
    border: var(--Gray) 1px solid;
    font-weight: bold;
}
@media (max-width:750px){
    .eventDate-sec {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .eventDate-sec .container h3 {
        font-size: 30px;
    }
    .eventDate-sec .container p {
        font-size: 12px;
     }
     .eventDate-sec .container {
        line-height: 25px;
    }
}



    /*    SPEAKERS      */
.speakers-sec {
    background-color: var(--LightGray);
}
.sec-title{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--Gray);
    margin-bottom: 30px;
}
.cards-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow: hidden; */
    position: relative;
    background-color: blueviolet;
}
.cards-container::-webkit-scrollbar {
    display: none;
}
.cards-container:not(:last-child){
    margin-right: 30px;
}
.speaker-card{
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* background-color: aqua; */
    /* display: inline-block; */
    position: relative;
    /* margin-right: 30px; */
}
.speaker-img{
    width: 100%;
    height: auto;
}
.speaker-info{
    background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(224,0,0, 0) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px 15px;
    translate: 0 100%;
    transition: all .3s ease-out;
}
.speaker-card:hover .speaker-info{
    translate: 0 0%;
}
.speaker-info *{
    color: var(--White);
    font-weight: 400;
    text-transform: uppercase;
}