/*   ---- News ----  */
main{
    padding: 50px;
}
/* HEADER  */
.landing{
    margin: 50px 0;
    max-width: 800px;
}
.landing-img{
    width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
}
.landing-img picture{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-img img{
    width: 100%;
}
.landing-title{
    color: var(--Very-dark-blue);
    font-size: 3rem;
    font-weight: var(--Bold);
    line-height: 70px;
}
p{
    color: var(--Dark-grayish-blue);
    line-height: 28px;
    font-size: 15px;
    text-align: justify;
}

/* NEW SECTION  */
.new-sec{
    background-color: var(--Very-dark-blue);
    padding: 30px;
    min-width: 300px;
    margin: 50px 0;
}
.new-title{
    color: var(--Soft-orange);
}
.new-item:not(:last-child){
    border-bottom: 1px var(--Grayish-blue) solid;
}
.new-sec h3{
    color: white;
}
.new-sec h3:hover, .new-sec h3:active, .new-sec h3 a:focus{
    color: var(--Soft-orange);
}

/* NEWS-CARDS SECTION  */
.news-sec{
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin: 50px 0;
    padding: 50px;
}
.card{
    display: flex;
    gap: 20px;
}
.card-img{
    width: 100px;
    min-width: 100px;
    overflow: hidden;
    background-color: var(--Soft-orange);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content>span{
    font-size: 2rem;
    font-weight: var(--SemiBold);
    color: var(--Grayish-blue);
}
.card-content *{
    margin: 0;
}
.news-sec h3:hover, .news-sec h3:active, .news-sec h3 a:focus{
    color: var(--Soft-red);
}

/* MEDIA QUERY  */
/* MOBILE SCREEN*/
@media (width < 768px) {
    .landing-img{
        aspect-ratio: 1/1;
    }
    .landing-img img{
        height: 100%;
        width: auto;
    }
    .news-sec{
        flex-direction: column;
    }
}

/* LAPTOP SCREEN*/
@media (width > 767px) {
    main{
        display: flex;
        gap: 30px;
    }
    .landing-content{
        display: flex;
        gap: 30px;
    }
}
