/* ---  First Section Register --- */
/*    EVENT DATE  */
.eventDate-sec>*{
  text-align: center;
  margin-bottom: .5em;
  font-weight: bold;
}
.eventDate-sec h2 {
    font-size: 3rem;
    color: var(--Red);
}
.eventDate-sec p {
  font-size: 1.6rem;
  color: var(--Gray);
}
.eventDate-deadline{
  border-bottom: 3px var(--Red) solid;
}
@media (max-width:750px) {
    .eventDate-sec h2 {
        font-size: 30px;
    }
    .eventDate-sec p {
        font-size: 12px;
    }
}

/* --- Terms Section --- */
.terms-desc{
  text-align: justify;
}

/* ---- Start Section Form ---- */
.registration-form {
  max-width: 600px;
  margin: 6px auto;
  background-color: var(--White);
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: var(--Shadow);
  overflow: hidden;
}
@media (width < 768px) {
  .registration-form {
    border-radius: 0;
    max-width: 100%;
  }
}
.tabs {
  display: flex;
  background-color: inherit;
  height: 50px;
  box-shadow: var(--NavShadow);
}

.tablink {
  width: calc(100% / 3);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  transition: background-color 0.3s ease;
}

.tablink.active{
  background-color: var(--Soft-red);
  color: var(--White);
}
.tablink:hover, .tablink:focus{
  background-color: var(--Red);
  color: var(--White);
}
.tabcontent {
  display: none;
  padding: 30px;
}
.tabcontent.active {
  display: block;
}
.tabcontent h2{
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea, select, button[type="submit"]{
  border: 3px var(--LightGray) solid;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: var(--Red);
  color: var(--White);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  border: none;
}

button[type="submit"]:hover, button[type="submit"]:active, button[type="submit"]:focus{
  background-color: var(--Very-dark-blue);
}

input[type="file"] {
  padding: 8px;
  align-self: center;
}
input[type="file"],input[type="file"]:hover, input[type="file"]:active, input[type="file"]:focus{
  border: none;
}
input,select,textarea,button{
  font-family: inherit;
}
input:focus, textarea:focus, select:focus, input:hover, textarea:hover, select:hover{
  border: 3px var(--Soft-red) solid;
}
/* ---- End Section Form ---- */

.img-movie {
  width: auto;
  height: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: var(--Radius);
}